*{
    margin:0px;    
    font-family: "inter"
    
}

#logo{
    margin-top: 50px;
    margin-left: 75px;
}

#top-title{
    margin-left: 150px;
    margin-top: 75px;
}

#top-subtitle{
    margin-left: 50px;
    padding: 100px

}

#top-menu{
    background-image: url(imagens/image.png);
    color: white;

}

#info-menu{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto
}

.icone{
    margin: 50px 0px 50px 100px;
    padding: 20px;
}

.info-text{
    display: flex;
    align-items: center;
}

#video-menu{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#videotitle{
    color: #247BA0;
    margin-top: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrousel{
    background-color: #247BA0;
    padding: 100px;
}

#carrousel-text{
    color: white;
    text-align: center;
    font-size: 26px;
}

#cards{
    display: grid;
    grid-auto-flow: column;
}

.cards{
    margin-left: 30px;
    margin-top: 40px;
}

#left-arrow{
    margin-top: 100px;
    display: none;
}

#right-arrow{
    margin-top: 85px;
}

#samantha{
    display: none;
}

.arrows:hover{
    transform:scale(1.2);
    transition-duration: 0.5s;
    
}

.arrows:not(:hover){
    transform:default;
    transition-duration: 0.5s;
    
}

.arrows{
    cursor:pointer;
}

#form{
    background-color: white;
    text-align: center;
}

#forms-title{
    margin: 30px;
    font-size: 26px;
    color: #383838
}

input{
    width: 250px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: #EAECE5;
    padding-left: 10px;


}

button{
    background-color: #247BA0;
    width: 200px;
    height: 30px;
    border: 1px;
    border-radius: 5px;
    margin-bottom: 150px;
    font-weight: bolder;
    box-shadow: 1px 1px;
}

button:hover{
    background-color: #186383;
    color: white;
    transform: translateY(5px);
    transition: 0.6s;
    box-shadow: 5px 5px 5px #18638344

}



